tower_secret_key_vault
*.log
*.pyc
#roles_external/samdoran.pgsql-replication
tower-backup*
2018*
2019*
2020*
.DS_Store
.*
extra_vars.yml
tower-installer/
*.retry
.tower_inventory.ini
.ftpconfig
*~
*.html
*.pdf
tower-vars.yml
