*.log
*.pyc
tower-backup*
2018*
2019*
2020*
.DS_Store
.*
extra_vars.yml
tower-installer/
tower_installer/
tower-installer
tower-vars.yml
*.retry
.tower_inventory.ini
.ftpconfig
*~
*.html
*.pdf
*.example
.vagrant

