###############################################################################
# RABBITMQ SETTINGS
###############################################################################

CLUSTER_HOST_ID = '{{ rabbitmq_awx_install_host }}'
