---
- name: 'include supervisor variables'
  include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml'        # RedHat-7
        - '{{ ansible_os_family }}.yml'                                                 # RedHat
      paths: '../vars'

